<div class="is-one-quarter"
  (contextmenu)="onRightClick()"
  (click)="onRegularClick()">
  
  <div class="card">
    <div class="card-image">
      <app-contenedor-imagen [imagen]="producto.imagen"></app-contenedor-imagen>  <!-- Imagen de cada tarjeta es stateless-->
    </div>
    <!-- ICONO DE ELIMINAR ELEMENTO-->
    <span (click)="desSeleccionarItem()"
          class="icon has-text-info close-icon"
          [ngClass]="{ 'is-hidden': !isItemDisabled() }">

      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="black" class="bi bi-bag-x-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z" />
      </svg>
    </span>

    <div class="card-content">
      <strong>{{ producto.titulo }}</strong><br />
      <p>
        {{ producto.texto }}
      </p>

      <button class="button is-fullwidth is-small"
              (click)="seleccionarItem()"
              [disabled]="isItemDisabled()"
              [ngClass]="{ 'is-danger': !isItemDisabled() }">
        {{ accionCompra }}
      </button>
    </div>
  </div>
</div>

<div class="contextual" [ngClass]="{visible: menuVisible}"> 
  {{producto.titulo}}
  {{producto.precio | currency}}

</div>
